.loginPage {
  box-sizing: border-box;
  width: 100%;
  min-height: calc(100vh - 80px);
  padding: 32px 50px;
  color: #8d8989;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginBox {
  background-color: #faf9fa;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: #2d3237;
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 25px;
  color: #434446;
  font-weight: 500;
  margin-bottom: 10px;
}

.loginInput {
  background-color: #f0efef;
  border-radius: 7px;
  margin: 7px;
  padding: 10px;
  width: 60%;
}

.find-links {
  width: 60%;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.find-links label {
  display: flex;
  align-items: center;
}

.checkbox {
  width: 15px;
  height: 15px;
}

.loginBtn {
  background: linear-gradient(135deg, #fb7185, #f97316);
  border-radius: 7px;
  margin: 7px;
  padding: 10px;
  width: 60%;
  color: #eee;
}

p {
  margin: 10px;
}

.social-login {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  gap: 40px;
}

.snsimg {
  width: 70px;
  border-radius: 50%;
}

.social-login-imgBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}